/*first-section*/
.first-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

iframe {
    border-radius: 20px;
    flex-basis: 55%;
}

.right-section {
    flex-basis: 40%;
    padding-left: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);


}

.right-head {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.right-head .right-link a {
    text-decoration: none;
    margin-right: 10px;

}

.right-section .videos ol li {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.right-section .videos .left {
    display: flex;
    flex-wrap: wrap;
    width: 200px;
}

.right-section .videos .left p {
    margin: 10px;

}

.right-section .videos .right {
    margin-top: 8px;
    margin-right: 10px;
}

.videos ol {
    list-style-type: none;
    padding: 0;
    margin: 0;
    max-height: 200px;
    overflow-y: auto;
}

.videos li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
}

.videos .left {
    display: flex;
    align-items: center;
}

.videos ol li a {
    text-decoration: none;
}

.videos .left img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.videos .right {
    font-weight: bold;
}


/*end-section*/

/*start-second-section*/
.second-section {
    margin: 20px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.second-section .left {
    flex-basis: 55%;
    width: 55%;
}

.second-section .left .first {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.second-section .left .first h3 {
    font-size: 24px;
}

.second-section .left .first .first-right {
    display: flex;
    flex-wrap: wrap;
    margin-top: -17px;
}

.second-section .left .first .first-right p {
    margin-top: 17px;
    padding: 0px 5px;

}

.second-section .left .second {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    position: relative;


}

.second-section .left .second .left {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.second-section .left .second .left .left-desc {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    padding-top: 5px;




}

.second-section .left .second .left img {
    border-radius: 100%;
    margin-left: 5px;

}

.second-section .left .second .right button {
    position: absolute;
    right: 5px;
    /* Adjust the position of the search icon */
    top: 50%;
    transform: translateY(-50%);
    background-color: rgb(93, 93, 238);
    color: white;
    border-radius: 10px;
    border: none;
    cursor: pointer;

}

.second-section .left .third {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.second-section .left .third .first ul {
    display: flex;
    list-style-type: none;

}

.second-section .left .third .first ul li a {
    text-decoration: none;
    font-size: 16px;
    color: black;
    margin-right: 30px;


}

.border-highlight {
    border-bottom: 2px solid black;

}


.third .second-chat-all {
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding-top: 10px;
}


.third .second-chat-all .desc .date {
    position: absolute;
    right: 12px;
    display: flex;

}

.third .second-chat-all .desc .date p {
    margin-right: 10px;
}

.third .second-chat-all .message {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
}

.third .second-chat-all .message .desc {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-top: 20px;
}

.third .second-chat-all .message img {
    margin-left: 5px;
    border-radius: 100%;
}


.third .second-chat-all form {
    margin-top: 20px;
}

.third .second-chat-all form .search-container {

    position: relative;
}

.third .second-chat-all form .search-container input {
    width: 100%;
    height: 37px;
    border: none;
    outline: none;
    padding: 0 38px 0 15px;
    color: black;
    position: relative;
}

input[type="text"]::placeholder {
    color: rgb(151, 134, 134);
    opacity: 1;
}

.third .second-chat-all form .search-container button {
    position: absolute;
    right: 5px;
    /* Adjust the position of the search icon */
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    color: #555;
    cursor: pointer;
}

.second-section .right {
    flex-basis: 40%;



}

.second-section .right .image-container {
    display: flex;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    justify-content: space-between;
    background-color: rgb(29, 29, 110);




}

.second-section .right .image-container .left {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
    background-color: rgb(29, 29, 110);
    padding-left: 15px;
    padding-top: 20px;

}

.second-section .right .image-container .left h4 {
    color: white;
    font-size: 32px;
    font-weight: 700;
}


.second-section .right .image-container .left p {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 400;
}

.second-section .right .image-container .left button {
    width: 91px;
    height: 32px;
    border-radius: 3px;
    background-color: rgb(29, 29, 110);
    border: 1px solid #1181A1;
}


.second-section .right .image-container .left button a {
    color: white;
    text-decoration: none;
}


/*end-second-section*/

/*start responsive*/

@media(max-width:1040px) {
    .second-section .left {
        flex-basis: 50%;
        width: 55%;
    }
}

@media(max-width:950px) {
    .second-section .left {
        flex-basis: 100%;
        width: 55%;
        margin-bottom: 20px;
    }

    .second-section .right {
        flex-basis: 100%;
    }

    .second-section .right .image-container .right img {
        width: 100%;
    }
}


@media(max-width:630px) {
    iframe {
        border-radius: 20px;
        flex-basis: 100%;
        margin-bottom: 20px;
    }

    .right-section {
        flex-basis: 100%;
        padding-left: 20px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);


    }

    @media(max-width:500px) {

        .third .second-chat-all .desc .date {
            position: absolute;
            right: 12px;
            display: flex;
            top: 22px;
            font-size: 11px;

        }
    }

}


/*end responsive*/